/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Roboto", sans-serif;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

.navbar {
  width: 100%;
  height: fit-content;
  background-color: #141737;
  padding: 1rem;
  position: fixed;
}

.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__container__img {
}

.navbar__container__menu {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}

.navbar__container__menu__items {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 1rem;
}

.navbar__container__menu__items li {
  cursor: pointer;
}

.navbar__container__menu__items li:after {
  content: ">";
  display: inline-block;
  margin-left: 0.5rem;
  transform: rotate(90deg);
}

.navbar__container__menu__items li:hover:after {
  content: ">";
  display: inline-block;
  margin-left: 0.5rem;
  transform: rotate(-90deg);
}

.navbar__container__menu__button {
  padding: 0.5rem 2rem;
  background-color: #00e5e5;
  text-decoration: none;
  color: #101023;
  border-radius: 0.5rem;
  font-weight: bold;
}

.navbar__container__menu__button:hover {
  background-color: #08d3d3;
}

.navbar__container__menu__select {
  border-radius: 100%;
  object-fit: contain;
  background-size: contain;
  width: 100%;
}

.main_content {
  padding-top: 5.4rem;
}

.banner1 {
  height: 100vh;
  background-color: #141737;
}

.banner2 {
  height: 100vh;
  background-color: #141737;
}

.first-container {
  width: 100%;
  padding: 0px 250px;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #0a0a19, #1a2252);
}

.first-container-left {
  width: 48%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  line-height: 30px;
  color: white;
}

.first-container-left button {
  width: 150px;
  cursor: pointer;
}

div.first-container-left h1 {
  font-size: 51px;
  line-height: 65px;
}

div.first-container-left p {
  display: inline-block;
  width: 570px;
  font-size: 1.4em;
}

div.first-container-left ul {
  list-style-type: none;
}

div.first-container-left li {
  font-size: 20px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.button-body {
  height: 50px;
  border-radius: 0.5rem;
  border: none;
  background-color: #00e5e5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
}

.first-container-right {
  width: 48%;
  height: 950px;
  position: relative;
}

.first-container-right img {
  width: 512px;
  height: 600px;
  object-fit: cover;
  object-position: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.first-container-right .icona-logo {
  width: 530px;
  height: 130px;
  transform: rotate(-45deg) translateX(-140px) translateY(40px);
  overflow: hidden;
  margin-top: 140px;
}

.first-container-right .icona-logo:nth-child(2) {
  transform: rotate(-45deg) translateX(-150px) translateY(50px);
}

.first-container-right .icona-logo:nth-child(3) {
  transform: rotate(-45deg) translateX(240px) translateY(60px);
}

.second-container {
  width: 100%;
  height: 650px;
  text-align: center;
  padding: 80px 200px;
  background: linear-gradient(45deg, #0a0a19, #1a2252);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cards {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.second-container .card_steps {
  width: 20%;
  min-height: 100px;
  background: linear-gradient(45deg, #1a2252, purple);
  border-radius: 20px;
  padding: 3px;
}

.second-container .card_bcg {
  min-height: 200px;
  width: 100%;
  background: linear-gradient(45deg, #0a0a19, #1a2252);
  color: white;
  padding: 25px;
  border-radius: 20px;
  text-align: left;
}

.card_title {
  display: flex;
  align-items: center;
  margin: 15px 0px;
}

.third-container {
  width: 100%;
  height: 900px;
  text-align: center;
  padding: 80px 200px;
  background: linear-gradient(45deg, #0a0a19, #1a2252);
  color: white;
}

.third-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 620px;
  margin-top: 110px;
}

.third-cards > div {
  width: 400px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.third-cards > div > h2 {
  color: black;
  font-size: 1.6em;
}

.third-cards > div > p {
  color: grey;
  font-weight: bolder;
  font-size: 1em;
}

.third-cards > div > button {
  background-color: purple;
  font-size: 0.9em;
  font-weight: light;
  color: white;
}

.third-cards > div > p:last-child {
  color: purple;
  font-weight: bolder;
  font-size: 1em;
}

.fourth-container {
  width: 100%;
  height: 850px;
  padding: 80px 250px;
  background-color: #1a2252;
  display: flex;
  justify-content: space-between;
}

.fourth-container-left {
  width: 45%;
  height: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
}

.fourth-container-left > h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.fourth-container-left > p {
  font-size: 1.1em;
  font-weight: bold;
}

.fourth-container-left > p:last-child {
  font-size: 1.1em;
  font-weight: lighter;
  line-height: 30px;
}

.fourth-container-right {
  width: 40%;
  height: 660px;
  margin-right: 25px;
  margin-top: 20px;
  color: white;
}

.fourth-container-right > .form {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fourth-container-right > .form > input {
  width: 240px;
  height: 40px;
  padding: 0px 15px;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid lightgray;
  color: rgb(84, 84, 84);
}

.fourth-container-right > ul {
  list-style-type: none;
  margin-bottom: 20px;
}
.fourth-container-right li {
  padding: 5px;
  font-size: 0.8em;
}

.fourth-container-right > p {
  margin-bottom: 10px;
}

.fourth-container-right > p > span {
  color: red;
}

.fourth-container-right > select {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid lightgray;
  color: rgb(84, 84, 84);
  margin-bottom: 20px;
  padding: 0px 15px;
  color: rgb(154, 153, 153);
}

.fourth-container-right > div:last-child {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.fourth-container-right button {
  width: 100px;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 600;
}

.fourth-container-right > p:nth-child(8) {
  font-size: 0.9em;
}

.fifth-container {
  width: 100%;
  height: 400px;
  padding: 100px 250px;
  background-color: #0a0a19;
  color: white;
  text-align: center;
}

.fifth-container > h1 {
  font-size: 45px;
}

.carosel {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.carosel > img {
  cursor: pointer;
}

.fifth-container .icon {
  color: rgb(78, 78, 78);
  width: 8px;
  height: 8px;
  margin: 50px 3px;
}

.fifth-container .icon:nth-child(3) {
  color: rgb(170, 24, 170);
  width: 9px;
  height: 9px;
}

.sixth-container {
  width: 100%;
  height: 500px;
  padding: 80px 250px;
  background: linear-gradient(45deg, #0a0a19, #1a2252);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sixth-container-left {
  width: 32%;
  padding: 40px 0px;
}

.sixth-container-left > h1 {
  font-size: 35px;
  margin-bottom: 15px;
}

.sixth-container-left > p {
  font-size: 1.1em;
  font-weight: lighter;
  line-height: 30px;
}

.arrows {
  width: 130px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 20px;
  cursor: pointer;
}

.left-icon {
  width: 25px;
  height: 25px;
  color: aqua;
}

.right-icon {
  width: 25px;
  height: 25px;
  padding: 20px;
  margin: 10px;
  border-radius: 50%;
  background-color: aqua;
  color: #0a0a19;
}

.sixth-container-right {
  width: 60%;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.sixth-container-right .ambassador-card {
  width: 375px;
  height: 170px;
  padding: 35px;
  background-color: white;
  border-radius: 15px;
}
